# Python programming
## python
### day objectives
   * intsallation
   * introduction
   * jupyter notebook
   * markdown format

1. python
1. phase 1

# PYTHON

### - Guido Van Rossum is known as the founder of Python programming.

### - Python is a simple, general purpose, high level, and object-oriented programming language.

### - Python is an interpreted scripting language also.

## Python Features

- #### 1) Easy to Learn and Use
    - Python is easy to learn and use. It is developer-friendly and high level programming language.
- #### 2) Expressive Language
    - Python language is more expressive means that it is more understandable and reada
- #### 3) Interpreted Language
    - Python is an interpreted language i.e. interpreter executes the code line by line at a time. 
    - This makes debugging easy and thus suitable for beginners.
- #### 4) Cross-platform Language
  - Python can run equally on different platforms such as Windows, Linux, Unix and Macintosh etc. 
  - So, we can say that Python is a portable language.
- #### 5) Free and Open Source
  - Python supports object oriented language and concepts of classes and objects come into existence.
- #### 7) Extensible
  - It implies that other languages such as C/C++ can be used to compile the code and thus it can be used further in our python code.
- #### 8) Large Standard Library
  - Python has a large and broad library and prvides rich set of module and functions for rapid application development.
- #### 9) GUI Programming Support
  - Graphical user interfaces can be developed using Python.
- #### 10) Integrated
  - It can be easily integrated with languages like C, C++, JAVA etc.

## Python Version List:
- Python Version Released Date
- Python 1.0 January 1994
- Python 1.5 December 31, 1997
- Python 1.6 September 5, 2000
- Python 2.0 October 16, 2000
- Python 2.1 April 17, 2001
- Python 2.2 December 21, 2001
- Python 2.3 July 29, 2003
- Python 2.4 November 30, 2004
- Python 2.5 September 19, 2006
- Python 2.6 October 1, 2008
- Python 2.7 July 3, 2010
- Python 3.0 December 3, 2008
- Python 3.1 June 27, 2009
- Python 3.2 February 20, 2011
- Python 3.3 September 29, 2012
- Python 3.4 March 16, 2014
- Python 3.5 September 13, 2015
- Python 3.6 December 23, 2016
- Python 3.7 June 27, 2018

## Python Applications:
### Python is known for its general purpose.it applicable in almost each domain of software development.
- #### 1) Web Applications
    - We can use Python to develop web applications.
    - It provides libraries to handle internet protocols such as HTML and XML, JSON, Email processing etc.
- ##### 2) Desktop GUI Applications
    - Python provides Tk GUI library to develop user interface in python based application. 
- #### 3) Software Development
    - Python is helpful for software development process.
    - It works as a support language and can be used for build control and management, testing etc.
- #### 4) Scientific and Numeric
    - Python is popular and widely used in scientific and numeric computing. 
    - Some useful library and package are SciPy, Pandas, IPython etc.
- #### 5) Business Applications
    - Python is used to build Bussiness applications like ERP and e-commerce systems. 
- #### 6) Console Based Application
    - We can use Python to develop console based applications.
- #### 7) Audio or Video based Applications
    - Python is awesome to perform multiple tasks and can be used to develop multimedia applications
- #### 8) 3D CAD Applications
    - To create CAD application Fandango is a real application which provides full features of CAD.
- #### 9) Enterprise Applications
    - Python can be used to create applications which can be used within an Enterprise or an Organization.
- #### 10) Applications for Images
    - Using Python several application can be developed for image.

### install python:
    - python 3.7.4(windows 10)
    - python 3.4.3(windows 7)
- #### python provides us the two ways to run a program:
  - Using Interactive interpreter prompt(shell)
  - Using a script file

### python comments:
##### Comment is not a part of the program, but it enhances the interactivity of the program and makes the program readable.
##### Python supports two types of comments:
- 1) Single Line Comment:
  - In case user wants to specify a single line comment, then comment must start with #
- 2) Multi Line Comment:
  - Multi lined comment can be given inside triple quotes.

In [13]:
#single line comment 
"""this is multiline comment"""

print ("Hello Python")

Hello Python

In [3]:
print("hello!python workshop")

hello!python workshop

#### Python Basics
1. Variables
2. Operators
3. Keywords

## Python Variables
#### Variable is a name which is used to refer memory location. Variable also known as identifier and used to hold value.

- In Python, we don't need to specify the type of variable because Python is a type infer language and smart enough to get variable type.

- Variable names can be a group of both letters and digits, but they have to begin with a letter or an underscore.

- The equal (=) operator is used to assign value to a variable.

- Keywords cannot be used as variable names.

In [6]:
n = 10
n

10

In [7]:
_=2
_

2

In [8]:
sum1 = 0
sum1

0

In [9]:
n

10

# datatypes
1. int
2. float
3. string  str

In [4]:
a=10
sal=20000.89
name="python"
print(a,sal,name)

10 20000.89 python

In [114]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [117]:
a=1,2,3
a

(1, 2, 3)

In [118]:
a,b,c=12,"python",34.8
a

12

In [9]:
float1 = 10.5
string = "python workshop"

In [10]:
n = "10"
type(n)
n1 = int(n)
#print(n,n1)
print(n+str(n1))

1010

In [12]:
n

'10'

In [11]:
n1

10

In [14]:
int(n)+n1

20

In [15]:
sum1

0

In [16]:
type(sum1)

int

In [17]:
n = int(input("Enter a number:"))
fl = float(input("enter a value"))
string = input()
print(n,fl,string)

Enter a number:23
enter a value45.89
python
23 45.89 python

In [18]:
n = input()
print(n)

12
12

In [20]:
n1 = int(input())

34

In [21]:
n,n1,n2 = 10,20,30
print(n)

10

In [22]:
n=n1=n2=10
print(n2)

10

In [ ]:
welcome to clgname urname

### Operators
1. Arthematic operators(+,-,/,*,%,//,**)
2. assigment operators(==,!=,+=,-=,/=)
3. membership operators(in,not in)
4. identity operators(is,is not)
5. logical operators(and,or,not)
6. comparision operators(<,>,<=,>=)

In [23]:
#arthimatic operators
n1=2
n2=7
print(n1/n2)
print(n1//n2)
print(n1*n2)
print(n1**n2)

0.2857142857142857
0
14
128

In [119]:
## Bitwise operators
a=2
b=3
print(a&b) 
print(a|b)
print(a^b)
# 0010 
# 0011
# 0010   # &
# (8421)
# 0011   # |
# 0001   # ^

2
3
1

In [24]:
#membership operators
l=[12,3,4,5,80]
l1=[34]
print(l1 in l)
print(l1 not in l)

False
True

In [25]:
#identity operators
l1=23
l2=45
print(l1 is l2)
print(l1 is not l2)

False
True

In [132]:
# Logical operators
print(True and True)
print(True and False)
print(False and True)
print(True or False)

True
False
False
True

In [26]:
#assignment operators
a=10
b=11
a+=b  #a=a+b
print(a)  #a=21
a-=b  #a=a-b #21-11=10 
print(a)

21
10

# conditional statements

In [28]:
n = int(input())
if n>0:
    print(n,"is positive")

34
34 is positive

In [29]:
even = int(input())
if even%2 == 0:
    print("even")
else:
    print("odd")

23
odd

In [30]:
even = int(input())
if even%2 == 0:
    if even<5:
        print(even**2)
    else:
        print(even**3)
    print("even")
else:
    print("odd")

22
10648
even

In [31]:
a,b,c = 10,20,15
if a>b and a>c:
    print(a,"a is big")
elif b>a and b>c:
    print(b,"is big")
else:
    print(c,"is big")

20 is big

In [1]:
a=int(input("enter a number "))
b=int(input("enter b number "))
print("1.add 2.sub 3. mul 4. div 5. mod 6.power 7. floordivision")
choice=int(input("enter your choice"))
if choice==1:
    print("addition is",a+b)
elif choice ==2:
    print("subtraction of",a-b)
elif choice ==3:
    print("multiplication  of",a*b)
elif choice ==4:
    print("division of",a/b)
elif choice ==5:
    print("modulus of",a%b)
elif choice ==6:
    print("power of",a**b)
elif choice ==7:
    print("floor of",a//b)
else:
    print("enter a valid choice")

enter a number 20
enter b number 10
1.add 2.sub 3. mul 4. div 5. mod 6.power 7. floordivision
enter your choice3
multiplication  of 200

## Iterations

In [ ]:
# for syntax
for variablename in range(start,stop+1,step):
    statements

In [32]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [33]:
for i in range(1,11):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

In [34]:
for i in range(2,21,2):
    print(i,end=' ')

2 4 6 8 10 12 14 16 18 20

In [35]:
for i in range(2,21,2):
    print(i,end=' ')
print()
for j in range(1,21,2):
    print(j,end=' ')

2 4 6 8 10 12 14 16 18 20
1 3 5 7 9 11 13 15 17 19

# while syntax
initialization

while condition:

    statements
    
    increment/decrement

In [4]:
# to find the sum of elements in the given range
start=int(input("enter start value"))
stop=int(input("enter stop value"))
s=0
while  start<=stop:
    s=s+start
    start+=1
print(s)

enter start value1
enter stop value10
55

In [ ]:
#examples

In [136]:
#average
n = int(input()) #10
sum1 = 0
for i in range(1,n+1):
    #sum1+=i
    sum1 = sum1+i
print(sum1)
print(sum1/n)

10
55
5.5

In [139]:
#averaage
n = int(input())
n1=int(input())
cal=count= 0
for i in range(n,n1+1):
    cal+=i
    count+=1
print(cal/count)

20
30
25.0

In [42]:
#factorial
n = int(input())
fact = 1
for i in range(1,n+1):
    fact = fact*i
    
print(fact)

5
120

In [41]:
#perfect number
n = int(input())
sum1=0
for i in range(1,n):
    if n%i == 0:
        sum1+=i
if sum1 == n:
    print(n,"is perfect")
else:
    print(n,"is not perfectt")

20
20 is not perfectt

# Functions
### Built - in functions
    - print(),input(),range(),floor(),len(),type(),
    dir(),abs(),min(),max(),sum(),chr(),ord()
### User - defined functions
#### 1. Required arguments
#### 2. Keyword arguments
#### 3. Default arguments
#### 4. Variable-length arguments

In [1]:
a=-56.7
abs(a)

56.7

In [4]:
k="this is python workshop"
print(min(k))
print(max(k))

y

In [7]:
n="12389"
max(n)

'9'

In [2]:
ord('a')
ord(' ')
chr(65)

'A'

# function syntax
def function_name:

    blockofstatements
    
function_name()

In [ ]:
# Required arguements
def add(a,b):
    s=0
    s=a+b
    return s
#add(23,56)
#a=int(input("enter a value"))
#b=int(input("enter b value"))
#add(a,b)
add(int(input("enter a value")),int(input("enter b value")))

In [140]:
def sample():
    print("dfg")
sample()

dfg

In [1]:
# keyword arguments
def key(a,b):
    print(a,b)
key(b="abcde",a=123)

123 abcde

In [141]:
def sample(name):
    print("dfg",name)
sample('anu')

dfg anu

In [3]:
# Default arguments
def defaultArgs(a,b=12,v="csse",d=78.54):
    print(a,b,v,d)
defaultArgs(13,12,234,787)
defaultArgs(13,"hello")
defaultArgs(67.7)

13 12 234 787
13 hello csse 78.54
67.7 12 csse 78.54

In [142]:
def sample(name='anu'):
    print("dhvgu",name)
sample()

dhvgu anu

In [6]:
l="4"
l*3

'444'

In [11]:
# variable-length arguments
def variable(a,*v):
    print(a)
    print(v)
    #print(b)
variable(1,2,3,4,5,7,9,9797)

1
(2, 3, 4, 5, 7, 9, 9797)

In [146]:
def sample(*arg):
    for i in food:
        print(i)
food = input().split()
sample(food)

anu anusha
anu
anusha

# Packages and modules
## Modules
#### Collection of functions
## Packages
#### Collection of Modules

In [315]:
from math import floor,ceil,sqrt,pi,e,pow
print(floor(5.2346))
print(ceil(5.2346))
print(sqrt(100))
print(pi)
print(e)
print(pow(2,4))

5
6
10.0
3.141592653589793
2.718281828459045
16.0

In [147]:
import random
print(random.randint(000000,999999))

926986

## Data Structures

# Strings

In [43]:
s="python"
s1="workshop"
print(type(s))
print(len(s))
print(min(s))
print(max(s))
print(s+s1)

<class 'str'>
6
h
y
pythonworkshop

# String Slicing

In [44]:
s="python"
s[0]
s[2]
s[0:4]
s[::-1]
s[1::3]
s[-1:-3]
s[2:]
s[::4]

'po'

In [45]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [46]:
s="PyThON"
print(s.capitalize())
print(s.casefold())
print(s.upper())
print(s.lower())
print(s.startswith('P'))
print(s.endswith('t'))
print(s.count('y'))

Python
python
PYTHON
python
True
False
1

In [47]:
s="pythonprogramming"
print(s.index('p'))
print(s.rindex('p'))
print(s.isalpha())
print(s.isdigit())
print(s.isdecimal())
print(s.find('m'))
print(s.rfind('m'))

0
6
True
False
False
12
13

In [48]:
s="     python"
print(s.lstrip())

python

In [49]:
s="python     "
s.rstrip()

'python'

In [50]:
s="        python       "
s.strip()

'python'

In [51]:
s="PytHON"
s.swapcase()

'pYThon'

In [52]:
s="v i g n a n"
print(s.split())
print(s.splitlines())

['v', 'i', 'g', 'n', 'a', 'n']
['v i g n a n']

In [53]:
s="vgn,a"
print(s.split(','))

['vgn', 'a']

In [54]:
s='p','y','t','h'
print("".join(s))
print(" ".join(s))
print("@".join(s))

pyth
p y t h
p@y@t@h

In [55]:
s="python"
print(s.replace('t','O'))
print(s.zfill(10))

pyOhon
0000python

In [56]:
s="my name is {name}".format(name="python")
s

'my name is python'

1.s= "A P S S D C"  
    o/p: Apssdc
2.s1="workshop python"
    o/p: W.Python

In [58]:
s= "A P S S D C"
a=s.split()
print("".join(a).capitalize())

Apssdc

In [59]:
s1="workshop python"
l,f=s1.split()
print(l[0].upper()+"."+f.capitalize())

W.Python

# python datastructures:
   - 1.strings
   - 2.lists
   - 3.tuples
   - 4.dictionaries
   - 5.sets

# lists

In [60]:
# empty list
l=[]
l

[]

In [61]:
L1=[1,2.4,"python"]
L1

[1, 2.4, 'python']

# list is mutable

In [62]:
l=[1,23,54,12,18,7]
print(type(l))
print(len(l))
print(min(l))
print(max(l))
print(sum(l))

<class 'list'>
6
1
54
115

In [63]:
name=["python","programming","vignan"]
number=[]
print(any(name))
print(any(number))
print(all(name))
print(all(number))
print(list(enumerate(name)))

True
False
True
True
[(0, 'python'), (1, 'programming'), (2, 'vignan')]

In [64]:
#slicing:
l=[23,45,12,3,67,90,2]
l[0]
l[-1]
l[::-1]
l[2:4]
l[:]
l
l[2::5]

[12]

In [65]:
#concatination
l=[23,45,12]
l1=[56,2,1,5]
l+l1

[23, 45, 12, 56, 2, 1, 5]

In [66]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [67]:
l=[23,12,7,56,4]
l.append(90)
print(l)

[23, 12, 7, 56, 4, 90]

In [68]:
l.insert(2,60)
l

[23, 12, 60, 7, 56, 4, 90]

In [69]:
l=[23,34,23,23,45]
print(l.count(23))
print(l.index(23))

3
0

In [70]:
l=[23,12,7,56,4]
l.remove(7) # based on value
l

[23, 12, 56, 4]

In [71]:
l=[23,12,7,56,4]
l.pop(1)   # based on indexvalue
l

[23, 7, 56, 4]

In [72]:
l=[23,12,7,56,4]
l.reverse()
l

[4, 56, 7, 12, 23]

In [73]:
l.sort()
l

[4, 7, 12, 23, 56]

In [74]:
s="p","y","t","h","o","n"
sorted(s)

['h', 'n', 'o', 'p', 't', 'y']

In [75]:
l=[23,12,7,56,4]
sorted(l)

[4, 7, 12, 23, 56]

In [76]:
l=[23,12,7]
l1=[45,77,2]
l.extend(l1)
print(l)
print(l1)

[23, 12, 7, 45, 77, 2]
[45, 77, 2]

In [77]:
t=[7,34,2,56]
t1=t
print(t)
print(t1)

[7, 34, 2, 56]
[7, 34, 2, 56]

In [78]:
t.append(90)
print(t)
print(t1)

[7, 34, 2, 56, 90]
[7, 34, 2, 56, 90]

In [79]:
#copy
t=[7,34,2,56]
t1=t.copy()
print(t)
print(t1)

[7, 34, 2, 56]
[7, 34, 2, 56]

In [80]:
t.remove(2)
print(t)
print(t1)

[7, 34, 56]
[7, 34, 2, 56]

In [81]:
t=[7,34,2,56]
t.clear()
print(t)

[]

In [82]:
t=[7,34,2,56]
del(t)
print(t)

NameError: name 't' is not defined

In [83]:
#nested list
l=[1,2,4,[67,"python",56.7]]
print(l[1])
print(l[3])
print(l[3][1])

2
[67, 'python', 56.7]
python

In [84]:
#list is mutable
l=[12.4,34,67,"python"]
l[2]=90
l

[12.4, 34, 90, 'python']

# tuples:
- tuples are immutable

In [85]:
#empty tuple
t=()
print(t)
print(type(t))

()
<class 'tuple'>

In [86]:
t=(24,56.8,"python")
print(t)

(24, 56.8, 'python')

In [87]:
t=(23,12,34,2)
print(type(t))
print(len(t))
print(min(t))
print(max(t))
print(sorted(t))
print(sum(t))

<class 'tuple'>
4
2
34
[2, 12, 23, 34]
71

In [88]:
t=(23,12,34,2)
t[3]=70
t

TypeError: 'tuple' object does not support item assignment

In [89]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [90]:
t=(23,12,34,2,23)
print(t.count(23))
print(t.index(23))

2
0

In [91]:
t=(23,12,34,2,23)
t[3]
t[::-1]

(23, 2, 34, 12, 23)

In [92]:
t=(23,45,67,(12,3,2,90))
print(t)
print(t[3][3])

(23, 45, 67, (12, 3, 2, 90))
90

In [93]:
#packing and unpacking
t=(23,45.7,"vignan")
a,b,c=t
print(a)
print(b)
print(c)
print(t)

23
45.7
vignan
(23, 45.7, 'vignan')

# dictionaries

In [94]:
#empty dictionary
d={}
d

{}

In [95]:
#mixed keys
d={"name":"python",24.7:20,23:"workshop"}
d

{'name': 'python', 24.7: 20, 23: 'workshop'}

In [96]:
print(d["name"])
print(d[23])
print(d[24.7])

python
workshop
20

In [97]:
d["name"]="vignan"
d

{'name': 'vignan', 24.7: 20, 23: 'workshop'}

In [98]:
d={"pavani":"python","archana":"workshop"}
print(type(d))
print(len(d))
print(min(d))
print(max(d))
#print(sum(d))
print(sorted(d))

<class 'dict'>
2
archana
pavani
['archana', 'pavani']

In [99]:
d["lara"]=567

In [100]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [101]:
d={"name":"python","rollno":546}
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['name', 'rollno'])
dict_values(['python', 546])
dict_items([('name', 'python'), ('rollno', 546)])

In [102]:
print(d.fromkeys("name"))
print(d.fromkeys("name",40))

{'n': None, 'a': None, 'm': None, 'e': None}
{'n': 40, 'a': 40, 'm': 40, 'e': 40}

In [103]:
print(d.pop("name"))
d

python

{'rollno': 546}

In [104]:
d.update({"name":"python"})
d

{'rollno': 546, 'name': 'python'}

In [105]:
d.popitem()
d

{'rollno': 546}

In [106]:
d.setdefault("age",100)
d

{'rollno': 546, 'age': 100}

In [107]:
print(d.get('rollno'))
print(d.get('age'))

546
100

In [108]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

# Regular expressions

## regular expressions
   - match()
   - search()
   - findall()

In [109]:
import re
re.match("p","python")

In [110]:
re.search("o","python")

In [111]:
re.findall("o","python")

['o']

In [112]:
# phonenumber validation
import re
phone=input("enter a number:")
pattern="^[6-9][0-9]{9}$|^[+][9][1][6-9][0-9]{9}$"
if re.match(pattern,phone):
    print("valid number")
else:
    print("invalid number")

enter a number:6878789789
valid number

In [113]:
# email validation
import re
email=input("enter a mailid:")
pattern="^[0-9a-z][0-9a-z_.]{5,15}[@][a-z]{5,9}[.][a-z]{2,4}$"
if re.match(pattern,email):
    print("valid emailid")
else:
    print("invalid emailid")

enter a mailid:pavani123@gmail.com
valid emailid